@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div ng-app="myApp" ng-controller="myCtrl">
    <form>
        <div ng-repeat="(n, message) in messages track by n">{{message.From}}:&nbsp;{{message.Body}}</div>
        <p>Message :
            <input type="text" ng-model="newMessageText">
            <button type="submit" ng-click="addMessage()">Send</button>
        </p>

    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/x2js/1.2.0/xml2json.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/node-uuid/1.4.7/uuid.js"></script>
<script>
    var app = angular.module("myApp", []);
    app.controller("myCtrl", function ($scope, $http) {
        $scope.messages = [];
        $scope.sender = "you@@" + uuid.v4();
        $scope.addMessage = function () {
            var newMessage = {
                Body: $scope.newMessageText,
                From: $scope.sender
            }
            $scope.messages.push(newMessage);
            $scope.newMessageText = "";
            $http({
                method: 'POST',
                url: "/",
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded' // Note the appropriate header
                },
                data: "From=" + encodeURIComponent(newMessage.From) +
                    "&Body=" + encodeURIComponent(newMessage.Body)
            }).then(function (data) {
                var x2js = new X2JS();
                var jsonObj = x2js.xml_str2json(data.data);
                var newResponse = {
                    Body: jsonObj.Response.Message,
                    From: "bot"
                };

                $scope.messages.push(newResponse);
            },
                function (err) {
                    console.log(err);
                });
        }
    });

</script>
