@page
@model IndexModel
@{
    ViewData["Title"] = "Chat Bot";
}

<!-- 
A concept for a chat interface. 
Try writing a new message! :)
Follow me here:
Twitter: https://twitter.com/thatguyemil
Codepen: https://codepen.io/emilcarlsson/
Website: http://emilcarlsson.se/
-->

<div id="frame">
	<div class="content">
		<div class="contact-profile">
			<img src="images/Y.svg" alt="" />
			<p id="uName">Harvey Specter</p>
		</div>
		<div class="messages">
			<ul>
			</ul>
		</div>
		<div class="message-input">
			<div class="wrap">
			<input type="text" placeholder='Write your message to the bot (try "hello" to start)...' />
			<i class="fa fa-paperclip attachment" aria-hidden="true"></i>
			<button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>
</div>
